.fpcm-nav {
  background: #333334;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 13px;
  line-height: 1.4;
  clear: both;
}

.fpcm-nav a {
  display: inline-block;
  text-decoration: none !important;
  color: #e4e3e5 !important;
  padding: 8px 16px 8px;
}

.fpcm-nav a.active {
  background: #1d1d1d;
  color: #f8f8f2 !important;
}

.fpcm-nav .fpcm-nav-right {
  float: right;
}

.fpcm-output {
  height: 256px;
}

.fpcm-code-box {
  height: 100%;
}

.fpcm-code-box:not(.active) {
  display: none;
}

.fpcm-code-box .CodeMirror {
  height: 100%;
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 14px;
}

.fpcm-code-box .CodeMirror pre {
  margin-bottom: 0; /* override FP style */
}
